@charset "UTF-8";

@import 'functions';
@import 'variables';

@keyframes tossing {
	0% {
		transform: rotate(-2deg);
	}
	50% {
		transform: rotate(2deg);
	}
	100% {
		transform: rotate(-2deg);
	}
}

@-webkit-keyframes tossing {
	0% {
		-webkit-transform: rotate(-2deg);
	}
	50% {
		-webkit-transform: rotate(2deg);
	}
	100% {
		-webkit-transform: rotate(-2deg);
	}
}

@keyframes UpDown {
	0% {
		margin-top: 0px;
	}

	100% {
		margin-top: 5px;
	}
}

@-webkit-keyframes UpDown {
	0% {
		-webkit-margin-top: 0px;
	}

	100% {
		-webkit-margin-top: 5px;
	}
}

body {
	//background-color: #f9f9f9;
	color: #1b191c;
}

.section {
	min-height: 100vh;
	padding: rem(50) 0;
}

.title {
	font-size: rem(40);
	text-align: center;
}

.skill-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: rem(50);

	.item {
		padding: 0 rem(10) rem(10) rem(10);
	}
	.text {
		font-size: rem(18);
		font-weight: 500;
		color: #fff;
		border: 1px solid $color-1;
		background-color: $color-1;
		border-radius: 20px;
		padding: rem(5) rem(15);
	}
}

.section-intro {
	.intro-bx {
		&__item {
			padding-bottom: rem(30);
			&:nth-of-type(2) {
				margin-top: 5vw;
				.intro-text {
					justify-content: flex-end;
				}
			}
		}
	}
	.intro-text {
		position: relative;
		display: flex;
		align-items: center;
		margin-bottom: rem(20);
	}
	.text {
		display: inline-block;
		border-radius: 60px;
		padding: rem(5) rem(50);
		font-size: em(80);
		font-weight: 900;

		&.highlight {
			background-color: #f4f80a;
		}
		&.portfolio {
			margin-right: rem(80);
		}
	}
	.icon {
		img {
			width: rem(130);
		}

		&-hi {
			animation-name: tossing;
			-webkit-animation-name: tossing;
			animation-duration: 1.5s;
			-webkit-animation-duration: 1.5s;
			animation-iteration-count: infinite;
			-webkit-animation-iteration-count: infinite;
		}
		&-down {
			position: absolute;
			top: 0;
			right: 0;
			-webkit-animation: UpDown 0.6s linear infinite;
			animation: UpDown 0.6s linear infinite;
		}
	}
}

.section-about {
	.about-flex {
		display: flex;
		align-items: center;

		.about-img {
			flex: 1 0 40%;
			max-width: 40%;
		}
		.about-text {
			flex: 1 1 auto;
			width: 1%;

			.about-tit {
				font-size: rem(30);
				font-weight: 600;
				margin-bottom: rem(20);
			}
			.about-des {
				font-size: rem(20);
			}
		}
	}
}

.section-work {
	.work-list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0 rem(-20);

		&__item {
			flex: 1 0 33%;
			max-width: 33%;
			position: relative;
			padding: 0 rem(20) rem(20) rem(20);

			&:nth-of-type(even) {
				margin-top: rem(30);
			}

			&:hover {
				.txt-bx {
					opacity: 1;
				}
			}
		}

		.txt-bx {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(#000, 0.7);
			color: #fff;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			opacity: 0;
			transition: 0.2s;

			.tit {
				font-weight: 500;
			}
		}
	}
}
