@charset "UTF-8";

@import 'functions';
@import 'variables';

/* 애니메이션 */
@keyframes tossing {
	0% {
		transform: rotate(-2deg);
	}
	50% {
		transform: rotate(2deg);
	}
	100% {
		transform: rotate(-2deg);
	}
}

@-webkit-keyframes tossing {
	0% {
		-webkit-transform: rotate(-2deg);
	}
	50% {
		-webkit-transform: rotate(2deg);
	}
	100% {
		-webkit-transform: rotate(-2deg);
	}
}

@keyframes UpDown {
	0% {
		margin-top: 0px;
	}

	100% {
		margin-top: 5px;
	}
}

@-webkit-keyframes UpDown {
	0% {
		-webkit-margin-top: 0px;
	}

	100% {
		-webkit-margin-top: 5px;
	}
}

@keyframes typo_animation {
	0% {
		left: 0;
		width: 0;
	}
	100% {
		width: 100%;
	}
}

@keyframes weight {
	from {
		font-weight: 100;
	}

	50% {
		font-weight: 900;
	}

	to {
		font-weight: 100;
	}
}

@keyframes slide-in {
	0% {
		transform: translateY(-1em) rotate(-0.5turn) scale(0.5);
	}
	20%,
	100% {
		transform: translateY(0) rotate(0deg) scale(1);
	}
}

@keyframes coverleft {
	0% {
		transform: scaleX(1) skewX(30deg);
		transform-origin: left;
	}
	100% {
		transform: scaleX(0) skewX(30deg);
		transform-origin: left;
	}
}

body {
	//background-color: #252525;
	background-color: #323232;
	color: #f2f2f2;
	//color: #e3e3e3;
}

.cover {
	background: #e7e7e7;
	z-index: 9999999;
	position: fixed;
	top: 0%;
	left: -25%;
	width: 150%;
	height: 100%;
	transform-origin: left;

	animation: coverleft 2000ms both cubic-bezier(0.77, 0, 0.175, 1);
}

/* 공통 섹션 */
.section {
	padding: 10vh 0;
}

/* 공통 타이틀 */
.title {
	font-size: rem(40);
	text-align: center;
}

/* 스킬 리스트 */
.skill-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: rem(50);

	.item {
		padding: 0 rem(10) rem(10) rem(10);
	}
	.text {
		font-size: rem(18);
		font-weight: 500;
		color: #fff;
		border: 1px solid $color-1;
		background-color: $color-1;
		border-radius: 20px;
		padding: rem(5) rem(15);
	}
}

/* 아이콘 */
.icon {
	img {
		width: rem(130);
	}
}

/* work , contact 타이틀 애니메이션 */
.data-text--st2 {
	span {
		text-decoration: none;
		font-weight: 100;
		letter-spacing: -3px;
		animation: weight 2s infinite;
		animation-delay: calc(var(--char-index) * 150ms);
	}
}

/* 인트로 섹션 */
.section-intro {
	.intro-bx {
		&__item {
			padding-bottom: rem(30);
			&:nth-of-type(2) {
				margin-top: 5vw;
				.intro-text {
					justify-content: flex-end;
				}
			}
		}
	}
	.intro-text {
		position: relative;
		display: flex;
		align-items: center;
		margin-bottom: rem(20);
		letter-spacing: -2px;
	}
	.text {
		display: inline-block;
		padding: rem(5) rem(50);
		font-size: em(80);
		font-weight: 900;
		position: relative;

		&.highlight {
			&::before {
				content: '';
				display: inline-block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: #f4f80a;
				border-radius: 60px;
				z-index: -1;
				animation: typo_animation 0.6s linear both;
			}
		}
		&.portfolio {
			margin-right: rem(80);
		}
	}

	.data-text .char {
		display: inline-block;
		font-size: 6vw;
		font-weight: 700;
	}
	.icon {
		margin-left: 2vw;

		&-hi {
			animation: tossing 1.5s infinite both;
			-webkit-animation: tossing 1.5s infinite both;
			animation-delay: 1s;
			opacity: 1;
		}
		&-down {
			position: absolute;
			top: 0;
			right: 0;
			-webkit-animation: UpDown 0.6s linear infinite;
			animation: UpDown 0.6s linear infinite;
			animation-delay: 0.6s;
		}
	}

	&.active {
		.data-text .char {
			animation: slide-in 3s cubic-bezier(0.5, 0, 0.5, 1) both;
			animation-delay: calc(60ms * var(--char-index));
			animation-delay: 0.5s;
		}
	}
}

/* 소개 섹션 */
.section-about {
	.about-flex {
		display: flex;
		align-items: center;

		.about-img {
			flex: 1 0 40%;
			max-width: 40%;
		}
		.about-text {
			flex: 1 1 auto;
			width: 1%;
			font-family: $font-family-sub;

			.about-tit {
				font-size: rem(30);
				font-weight: 600;
				margin-bottom: rem(20);
			}
			.about-des {
				font-size: rem(20);
			}
		}
	}
}

/* 포트폴리오 섹션 */
.section-work {
	position: relative;

	.data-text--st2 {
		font-size: 6vw;
		margin-bottom: rem(30);
		text-align: center;
	}
	.work-list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		@media (max-width: 768px) {
			display: block;
		}

		&__item {
			flex: 1 0 50%;
			max-width: 50%;
			padding: 0 rem(60) rem(70) rem(60);
			display: none;

			@media (max-width: 1200px) {
				padding: 0 rem(50) rem(60) rem(50);
			}

			@media (max-width: 768px) {
				display: block;
				max-width: 100%;
				padding: 0 rem(40) rem(50) rem(40);
			}

			a {
				display: block;
				position: relative;

				&:hover {
					.txt-bx {
						opacity: 1;
					}
				}
			}

			.img-bx {
				height: rem(360);
				border-radius: 15px;
				box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
				overflow: hidden;
			}
		}

		.txt-bx {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(#000, 0.9);
			border-radius: 15px;
			color: #fff;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			opacity: 0;
			transition: 0.2s;

			.tit {
				font-size: rem(22);
				font-weight: 500;
				margin-bottom: rem(5);
			}
			.type {
				font-size: rem(17);
				font-weight: 300;
				padding: 2px 0;
				margin-bottom: rem(10);
			}

			.flex-bx {
				display: flex;
				justify-content: center;

				> .type {
					padding: 0 5px;
				}
			}
		}
	}

	.more-btn {
		display: block;
		width: rem(200);
		padding: rem(20) 0;
		margin: rem(50) auto 0 auto;
		text-align: center;
		font-size: rem(20);
		font-weight: 600;
		border: 1px solid #ddd;
		border-radius: 50px;
	}

	&.active {
		&::before {
			content: 'My portfolio';
			display: block;
			font-size: rem(150);
			font-weight: 700;
			color: #d9d9d9;
			opacity: 0.5;
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: -1;
		}
	}
}

/* 컨택 섹션 */
.section-contact {
	text-align: center;

	.icon {
		margin: rem(25) 0;
	}
	.data-text {
		span {
			font-size: 5vw;
		}
	}
	.contact-list {
		display: flex;
		align-items: center;
		justify-content: center;

		&__item {
			padding: 0 rem(40);

			.txt-bx {
				border: 1px solid #ddd;
				padding: rem(20);

				.link {
					display: block;
					img {
						width: rem(240);
					}
				}
			}
		}
	}

	&.active {
		.icon {
			animation: tossing 1.5s infinite both;
			-webkit-animation: tossing 1.5s infinite both;
			animation-delay: 1s;
		}
	}
}

/* 푸터 */
.footer {
	font-size: rem(14);
	padding: rem(30) 0;
	text-align: center;
	border-top: 1px solid #ddd;

	p {
		margin-bottom: rem(5);
	}

	.footer-copyright {
		color: #999999;
	}
}
