@charset "UTF-8";

@import 'functions';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 애니메이션 */
@keyframes typo_animation {
	0% {
		left: 0;
		width: 0;
	}
	100% {
		width: 100%;
	}
}

/* @keyframes weight {
	from {
		font-weight: 100;
	}

	50% {
		font-weight: 900;
	}

	to {
		font-weight: 100;
	}
} */

@keyframes slide-up {
	from {
		transform: translateY(125%);
	}
}

@keyframes coverleft {
	0% {
		transform: scaleX(1) skewX(30deg);
		transform-origin: left;
	}
	100% {
		transform: scaleX(0) skewX(30deg);
		transform-origin: left;
	}
}

@keyframes titleAnimation1 {
	0% {
		transform: translateY(-50px);
		opacity: 0;
		-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
		clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
	}
	20% {
		transform: translateY(0);
		opacity: 1;
		-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
		clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
	}
	80% {
		transform: translateY(0);
		opacity: 1;
		-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
		clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
	}
	100% {
		transform: translateY(50px);
		opacity: 0;
		-webkit-clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
		clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
	}
}

@keyframes titleAnimation2 {
	0% {
		transform: translateY(-50px);
		opacity: 0;
		-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
		clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
	}
	20% {
		transform: translateY(0);
		opacity: 1;
		-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
		clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
	}
	100% {
		transform: translateY(0);
		opacity: 1;
		-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
		clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
	}
}

@keyframes moveLeft {
	from {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	to {
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
}

body {
	color: #000;
	font-family: 'Montserrat', sans-serif;
}

.container {
	width: 100%;
	max-width: rem(1400);
	margin: 0 auto;
	padding: 0 20px;
}

.cover {
	background: #e7e7e7;
	z-index: 9999999;
	position: fixed;
	top: 0%;
	left: -25%;
	width: 150%;
	height: 100%;
	transform-origin: left;
}

/* 헤더 */
$header-height: 80px;

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: $header-height;
	line-height: $header-height;
	z-index: 100;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;

		@media (max-width: 768px) {
			justify-content: center;
		}
	}

	.logo {
		flex: 0 0 rem(180);
		max-width: rem(180);

		@media (max-width: 1024px) {
			flex: 0 0 rem(150);
			max-width: rem(150);
			font-size: 1.8em;
		}

		@media (max-width: 768px) {
			display: none;
		}
	}

	.header-text {
		font-family: 'Pretendard', sans-serif;
		font-size: em(20);
		font-weight: 600;
		text-align: center;

		@media (max-width: 1024px) {
			font-size: em(18);
		}
	}

	.quick-list {
		display: flex;
		align-items: center;
		column-gap: 15px;

		@media (max-width: 768px) {
			position: absolute;
			top: 0;
			right: 3%;
			height: $header-height;
			column-gap: 10px;
		}
	}

	.link {
		display: flex;
		align-items: center;

		img {
			width: rem(40);

			@media (max-width: 560px) {
				width: rem(25);
			}
		}
	}

	.text {
		font-size: 13px;
		font-weight: 600;

		@media (max-width: 768px) {
			font-size: 11px;
		}

		@media (max-width: 560px) {
			font-size: 10px;
		}
	}
}

/* 공통 섹션 */
.section {
	padding: 10vh 0;

	@media (max-width: 768px) {
		padding: rem(40) 0;
	}
}

/* 공통 타이틀 */
.title {
	font-size: rem(40);
	text-align: center;
}
.sub-title {
	position: sticky;
	top: 35%;
	width: 100%;
	font-size: 15em;
	color: #e9e9e9;
	opacity: 0.6;
	font-weight: 700;
	text-align: center;
	z-index: -1;

	@media (max-width: 1600px) {
		font-size: 10em;
	}

	@media (max-width: 1200px) {
		font-size: 7em;
	}

	@media (max-width: 768px) {
		font-size: 5em;
	}

	@media (max-width: 560px) {
		font-size: 3em;
	}
}

/* 스킬 리스트 */
.skill-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: rem(50);

	.item {
		padding: 0 rem(10) rem(10) rem(10);
	}
	.text {
		font-size: rem(18);
		color: #fff;
		border: 2px solid #ddd;
		color: #666666;
		border-radius: 20px;
		padding: rem(5) rem(15);
	}
}

/* 아이콘 */
.icon {
	img {
		width: rem(95);
	}
}

/* 인트로 섹션 */
.section-intro {
	position: relative;
	height: 100vh;
	overflow-x: hidden;

	@media (max-width: 768px) {
		height: 70vh;
	}

	@media (max-width: 560px) {
		height: 60vh;
	}

	.intro-bx {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		z-index: 2;

		@media (max-width: 768px) {
			width: 70%;
		}

		@media (max-width: 560px) {
			width: 80%;
		}
	}
	.intro-text {
		position: relative;
		margin: 0 auto;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@media (max-width: 768px) {
			width: 100% !important;
			height: 100% !important;
			padding: 0 rem(50);
		}

		&-1 {
			width: rem(500);
			height: rem(500);

			@media (max-width: 1850px) {
				height: rem(400);
			}

			@media (max-width: 1024px) {
				width: rem(350);
				height: rem(350);
			}
		}

		&-2 {
			width: rem(650);
			height: rem(500);
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);

			@media (max-width: 1850px) {
				height: rem(400);
			}

			@media (max-width: 1024px) {
				width: rem(450);
			}

			span {
				font-size: 4vw;
			}
		}

		span {
			opacity: 0;
			width: 100%;
			display: block;
			font-size: 5vw;
			font-weight: 800;

			@media (max-width: 768px) {
				font-size: 7vw;
			}

			@media (max-width: 560px) {
				font-size: 8vw;
			}
		}

		&.on {
			span {
				opacity: 1;
			}
		}
	}

	.bg-round {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 20px;
		width: rem(800);
		height: rem(700);
		background-color: #fff;
		box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
		z-index: 1;

		@media (max-width: 1850px) {
			height: rem(500);
		}

		@media (max-width: 1024px) {
			width: rem(600);
			height: rem(500);
		}

		@media (max-width: 768px) {
			width: 100%;
			height: rem(300);
		}

		@media (max-width: 560px) {
			height: rem(260);
		}
	}

	.bg-text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 7vw;
		font-weight: 700;
		color: #999;
		white-space: nowrap;
		opacity: 0.1;
		animation: moveLeft 50s infinite linear;
		z-index: -1;
	}

	&.active {
		.intro-text {
			span {
				animation-timing-function: ease;
				animation-duration: 3s;
			}

			&-1 {
				span {
					animation-name: titleAnimation1;
					animation-delay: 0.6s;
					-webkit-animation-fill-mode: forwards;

					&:first-of-type {
						animation-delay: 0.7s;
					}
					&:last-of-type {
						animation-delay: 0.5s;
					}
				}
			}
			&-2 {
				span {
					animation-name: titleAnimation2;
					animation-delay: 4.1s;
					-webkit-animation-fill-mode: backwards;

					&:first-of-type {
						animation-delay: 4.2s;
					}

					&:last-of-type {
						animation-delay: 4s;
					}
				}
			}
		}
	}
}

/* 소개 섹션 */
.section-about {
	.sub-title {
		top: 20%;
	}
	.about-flex {
		display: flex;
		align-items: center;

		@media (max-width: 1200px) {
			display: block;
		}

		.about-img {
			flex: 1 0 40%;
			max-width: 40%;

			@media (max-width: 1200px) {
				flex: none;
				max-width: 50%;
				margin: 0 auto;
			}

			@media (max-width: 768px) {
				max-width: 80%;
			}

			.img {
				border-radius: 20px;
				overflow: hidden;
			}
		}
		.about-text {
			flex: 1 1 auto;
			width: 1%;
			padding-left: 5vw;
			font-family: 'SUIT', sans-serif;
			color: #666666;

			@media (max-width: 1200px) {
				flex: none;
				width: 100%;
				padding-left: 0;
				padding-top: rem(50);
			}

			.about-tit {
				color: #444;
				font-size: rem(22);
				font-weight: 600;

				@media (max-width: 768px) {
					font-size: em(20);
				}
			}
			.about-des {
				font-size: rem(20);

				@media (max-width: 768px) {
					font-size: em(17);
				}
			}
		}
	}
}

/* 왓 아이 두 섹션 */
.section-do {
	.do-list {
		text-align: left;

		&__item {
			padding-bottom: rem(30);
		}
		.title {
			text-align: left;
			margin-bottom: 5px;

			@media (max-width: 1024px) {
				font-size: em(34);
			}
		}
		.des {
			position: relative;
			font-size: rem(20);
			color: #444;
			font-weight: 500;
			line-height: 1.7;
			padding-left: 10px;

			@media (max-width: 1024px) {
				font-size: em(18);
			}

			&::before {
				content: '';
				display: block;
				width: 3px;
				height: 3px;
				border-radius: 50%;
				background-color: #000;
				position: absolute;
				top: 0;
				left: 0;
				margin-top: 15px;
			}
		}
	}
}

/* 포트폴리오 섹션 */
.section-work {
	position: relative;

	.work-list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		&__item {
			flex: 1 0 50%;
			max-width: 50%;
			padding: 0 rem(60) rem(70) rem(60);
			display: none;

			@media (max-width: 1200px) {
				padding: 0 rem(50) rem(60) rem(50);
			}

			@media (max-width: 768px) {
				padding: 0 rem(20) rem(50) rem(20);
			}

			a {
				display: block;
				position: relative;

				&:hover {
					.txt-bx {
						opacity: 1;
					}
				}
			}

			.img-bx {
				height: rem(360);
				border-radius: 15px;
				box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
				overflow: hidden;

				@media (max-width: 768px) {
					height: rem(260);
				}
				@media (max-width: 560px) {
					height: rem(200);
				}
			}
		}

		.txt-bx {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(#000, 0.8);
			border-radius: 15px;
			color: #fff;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			opacity: 0;
			transition: 0.2s;

			.tit {
				font-size: rem(22);
				font-weight: 500;
				margin-bottom: rem(5);

				@media (max-width: 768px) {
					font-size: rem(18);
				}
				@media (max-width: 560px) {
					font-size: rem(16);
				}
			}
			.type {
				font-size: rem(17);
				font-weight: 300;
				padding: 2px 0;
				margin-bottom: rem(10);

				@media (max-width: 768px) {
					font-size: rem(15);
					margin-bottom: rem(5);
				}
				@media (max-width: 560px) {
					font-size: rem(14);
				}
			}

			.flex-bx {
				display: flex;
				justify-content: center;

				@media (max-width: 768px) {
					display: block;
				}

				> .type {
					padding: 0 5px;
				}
			}
		}
	}

	.more-btn {
		position: relative;
		display: block;
		width: rem(200);
		padding: rem(20) 0;
		margin: rem(50) auto 0 auto;
		text-align: center;
		font-size: rem(20);
		font-weight: 600;
		border: 1px solid #ddd;
		border-radius: 50px;
		z-index: 50;

		@media (max-width: 768px) {
			width: rem(150);
			padding: rem(15) 0;
			font-size: em(16);
		}
	}
}

/* 컨택 섹션 */
.section-contact {
	position: relative;

	.container {
		height: 60vh;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		@media (max-width: 1024px) {
			height: 100%;
			padding: rem(70) 0;
		}
	}

	.contact-text-wrap {
		opacity: 0;
		transition: 0.1s all;

		@media (max-width: 1024px) {
			opacity: 1;
		}

		&.on {
			opacity: 1;
		}
	}

	.contact-text {
		font-size: rem(24);
		text-align: center;

		@media (max-width: 1024px) {
			font-size: rem(18);
		}

		.word {
			.char {
				display: inline-block;
				animation: slide-up 1.3s cubic-bezier(0.5, 0.2, 0, 1);
				animation-fill-mode: both;
				animation-delay: calc(-0.8s + (var(--char-index) * 0.1s));
			}
		}
	}

	.contact-link {
		position: relative;
		display: inline-block;
		text-align: center;
		margin-top: rem(50);
		opacity: 0;

		@media (max-width: 1024px) {
			opacity: 1;
		}

		&::after {
			content: '';
			display: block;
			width: 0;
			height: 2px;
			background-color: #000;
			position: absolute;
			bottom: 0;
			left: 0;
		}

		.link {
			display: block;
			font-family: 'Montserrat', sans-serif;
			font-size: rem(80);
			font-weight: 700;
			position: relative;

			@media (max-width: 1200px) {
				font-size: rem(50);
			}

			@media (max-width: 768px) {
				font-size: rem(33);
			}
		}

		&.on {
			opacity: 1;

			&::after {
				animation: typo_animation 1.3s cubic-bezier(0.5, 0.2, 0, 1);
				animation-fill-mode: both;
				animation-delay: 500ms;
			}
		}
	}
}

/* 푸터 */
.footer {
	font-size: rem(14);
	padding: rem(30) 0;
	text-align: center;
	border-top: 1px solid #ddd;

	p {
		margin-bottom: rem(5);
	}

	.footer-copyright {
		color: #999999;
	}
}
