@charset "UTF-8";

.terms-chk {
	text-align: left;
	border: 1px solid $gray-d;
	border-top: 1px solid #000;
	font-size: rem(14);
	color: $gray-5;

	.agree-bx {
		color: #191919;
		padding-left: rem(5);
	}

	&__head {
		padding: rem(30);
		color: $black;
		position: relative;
		background: #f8f8f8;
		.icon {
			cursor: pointer;
			&.active {
				transform: rotate(180deg);
			}
		}
	}

	&__body {
		border-top: 1px solid $gray-d;
		padding: rem(30);

		.terms-text {
			display: none;
			margin-top: rem(12);

			.box {
				max-height: 100px;
				overflow-y: auto;
				padding: rem(12);
				font-size: rem(13);
				color: $gray-6;
				border: 1px solid $gray-d;
				line-height: 1.6;
			}
		}

		.terms-text-open {
			position: relative;
			&::after {
				position: absolute;
				content: '';
				bottom: -1px;
				right: 50%;
				transform: translateX(50%);
				border-bottom: 1px solid #000;
				width: 100%;
				height: 0.9em;
			}
		}
	}
}
