@charset "UTF-8";
$header-fix: true; //true: 헤더가 상단 고정일 경우입니다.

.header {
	width: 100%;
	z-index: 500;

	.header-wrap {
		height: $nav-height;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include mdq-max(lg) {
			height: $nav-height-lg;
		}
		.logo {
			font-size: em(40);
			font-weight: 600;
			flex: 0 0 auto;
			font-family: $font-family-sub;
		}
	}
}

.main {
	min-height: 65vh;
}

// 스크롤
.main-body,
.sub-body {
	overflow-y: auto;
	&::-webkit-scrollbar {
		width: 7px;
	}
	&::-webkit-scrollbar-thumb {
		background: $color-1;
		border-radius: 7px;
	}

	&::-webkit-scrollbar-track {
		background-color: #eeeeee;
		border-radius: 10px;
	}
}
